
.ServiceTaskDef {
  color: #54585E;
  font-size: 16px;
}

.ServiceTaskDef table {}

.ServiceTaskDef th {
  text-align: right;
  padding-right: 5px;
  vertical-align: top;
}

.ServiceTaskDef td {}

.ServiceTaskDef ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ServiceTaskDef li {}

/* hack to account for huge amounts of env vars (example: /default/app) */
.ServiceTaskDefEnvVars {
  max-height: 500px;
  width: 380px;
  overflow: auto;
}

.ServiceTaskDefEnvVars li {
  white-space: nowrap;
}
