
.ServiceEventList ul {
  margin: 0;
}
.ServiceEventListItem {}

.ServiceEventListItem-message {
  color: #54585E;
  font-size: 16px;
}

.ServiceEventListItem-timestamp {
  padding-left: 10px;
  font-size: 16px;
  color: #b7bdc4;
}
